<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://camel.apache.org/schema/spring"
  xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring-3.14.2.xsd">

  <route id="vertx">
    <from uri="direct:vertx" />
    <log message="Before vertx-http. ThreadCount:${bean:java.lang.Thread?method=activeCount}"></log>
    <removeHeaders pattern="*" />
    <to uri="vertx-http:http://localhost:8080/vertx" />
    <log message="After vertx-http. ThreadCount:${bean:java.lang.Thread?method=activeCount}"></log>
  </route>

  <route id="http">
    <from uri="direct:http" />
    <log message="Before http. ThreadCount:${bean:java.lang.Thread?method=activeCount}"></log>
    <removeHeaders pattern="*" />
    <to uri="http://localhost:8080/http" />
    <log message="After http. ThreadCount:${bean:java.lang.Thread?method=activeCount}"></log>
  </route>

  <route id="netty">
    <from uri="direct:netty" />
    <log message="Before netty-http. ThreadCount:${bean:java.lang.Thread?method=activeCount}"></log>
    <removeHeaders pattern="*" />
    <to uri="netty-http://localhost:8080/netty" />
    <log message="After netty-http. ThreadCount:${bean:java.lang.Thread?method=activeCount}"></log>
  </route>

</routes>
